<body>
<ng-container *ngIf="!authorized; else NotAuth">
  <div class="login">
    <h1>Welcome <br> to MyMovieList!</h1>
    <input class="input" placeholder="Login" type="text" id="username" [(ngModel)]="login" [ngModelOptions]="{standalone:true}"/>
    <br>
    <input class="input" placeholder="Password" type="password"  id="password" [(ngModel)]="password" [ngModelOptions]="{standalone:true}"/>
    <br>
    <div>
      <button (click)="auth()">Log in</button>
    </div>
  </div>  

  </ng-container>

  <ng-template #NotAuth>
    <h1>{{login}} logged in!</h1>
    
    <button (click)="logout()">Log out</button>
  </ng-template>
</body>
