<div id="heading">
      <h1>HELLO, <br> WE ARE aTeam</h1>
    </div>
    
    <div id="info">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
        Optio ratione atque delectus impedit, rerum incidunt at fuga placeat adipisci aliquid, 
        consectetur voluptates. Suscipit illum magni nulla earum laudantium ullam rerum?
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
        Optio ratione atque delectus impedit, rerum incidunt at fuga placeat adipisci aliquid, 
        consectetur voluptates. Suscipit illum magni nulla earum laudantium ullam rerum?
      </p>
    </div>
    
    <div id="team">
      <h1>Our team</h1>
      
      <p class="member" id="Aybek"> 
        <img class="member1-pic" src="./assets/img/member.png" alt="Member1"> <br>
        Abdullayev Aybek <br>
        KBTU <br>
        Second year student. <br>
        Fullstack developer <br>
      </p>
    
      <p class="member" id="Hafsa">
        <img class="member2-pic" src="./assets/img/hafsa.jpg" alt="Member2"> <br>
        Hafsa Mufassir <br>
        KBTU <br>
        Second year student. <br>
        Front-end developer <br>
      </p>
    
      <p class="member" id="Alibek">
        <img class="member1-pic" src="./assets/img/alua.jpg" alt="Member3"> <br>
        Sayak Alibek <br>
        KBTU <br>
        Second year student. <br>
        Back-end developer <br>
      </p>   
    </div>
    
