<header>
  <div>
    
    <form>
        <img id ="logo" src="assets/img/logo-movie-list.png">
        <input id="search_box" type="text" placeholder="Search">
        <button class="btn" type="submit">Go!</button>
    </form>
  </div>
      <div>

        <ul>
          <li><a routerLink="">Main</a></li>
        </ul>

        <ul>
          <li>
            <a routerLink="movies">Movies</a>
          </li>
        </ul>
        <ul>
          <li><a (click)="logout()">Logout</a></li>
        </ul>        
      </div>
</header>
  